<a href="https://colab.research.google.com/github/aumit210780/IDSWP_Class/blob/main/Supervised_Learning_Regression_Boston__Housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Import Required Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

###Load the Data

In [5]:
#from sklearn.datasets import load_boston
#boston = load_boston()
#type(boston)

In [7]:
#boston.keys

In [9]:
#boston.target

In [11]:
#boston.feature_names

In [12]:
#df = pd.DataFrame(data = boston.data, columns = boston.feature_names)

In [13]:
#df.head()

In [14]:
#df['Price'] = boston.target

In [15]:
#df.info()

In [22]:
#df['AGE'] = df['AGE].replace(46.5, NAN)

In [23]:
#df.info()

In [21]:
#df['AGE'] = df['AGE'].fillna(df['AGE'].mean())
#df.head()

In [24]:
#df.describe()

In [25]:
#Bakita madam er file a ache

In [4]:
  data_url = "http://lib.stat.cmu.edu/datasets/boston"
  raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)

In [6]:
type(raw_df)

pandas.core.frame.DataFrame

In [18]:
#df['AGE'] = df['AGE'].replace(46.5, 'NAN')

In [10]:
raw_df.head()

          0      1      2    3      4      5     6       7    8      9     10
0    0.00632  18.00   2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0  15.3
1  396.90000   4.98  24.00  NaN    NaN    NaN   NaN     NaN  NaN    NaN   NaN
2    0.02731   0.00   7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0  17.8
3  396.90000   9.14  21.60  NaN    NaN    NaN   NaN     NaN  NaN    NaN   NaN
4    0.02729   0.00   7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0  17.8

In [16]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [19]:
data = pd.read_csv("/content/gdrive/MyDrive/data/housing.csv")

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 1 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0    0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00  505 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB